.about{
  width: 100%;
  line-height: 1.5;
  .about-page{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 40px 40px 80px 50px;
    margin-bottom: 50px;
    border: 1px solid #000;
    &::after{
      content: "";
      @include size(165px,300px);
      @include position('','',70px,0);
      background: #A67F78;
      opacity: .5;
    }
    &::before{
      content: "";
      @include size(30px,300px);
      @include position(90px,0,'','');
      background: #A67F78;
      opacity: .5;
    }
    h2{
      @include title-h2;
      margin-bottom: 100px;
    }
  }
  .about-content{
    max-width: 680px;
    margin: auto;
    span{
      font-size: 20px;
      color: #000;
      margin-bottom: 10px;
    }
  }
}