.about{
  width: 100%;
  &-page{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 40px 40px 80px 50px;
    border: 1px solid #000;
    &::after{
      content: "";
      @include size(165px,300px);
      @include position('','',70px,0);
      background: #A67F78;
      opacity: .5;
    }
    &::before{
      content: "";
      @include size(30px,300px);
      @include position(90px,0,'','');
      background: #A67F78;
      opacity: .5;
    }
  }
  .about-content{
    max-width: 680px;
    margin: auto;
    span{
      @include text(#000, 20, 400);
      display: block;
    }
    p{
      margin-bottom: 15px;
      line-height: 1.5;
    }
  }
}