.delivery{
  line-height: 1.5;
  padding: 0 20px;
  .delivery-img{
    @include flexBox(row, center, center);
    margin: auto;
    width: 100%;
    margin-bottom: 1.5rem;
    img{
      max-width: 95%;
    }
  }
  &-list{
    margin-bottom: 2rem;
    li{
      @include textIndent(-20,20);
      margin-bottom: 5px;
    }
  }
}