.detail{
  .goods-choose{
    margin: 0 20px;
    .goods-choose-above{
      @include flexBox(row, center, center);
      margin-bottom: 20px;
    }
    .galleria{
      @include size(80%, 470px);
      .p-galleria-item{
        img{
          width: 90%;
        }
      }
      .p-galleria-item-wrapper{
        height: 400px;
      }
      .p-galleria-thumbnail-wrapper{
        @include size(240px, 90px);
        padding-left: 15px;
      }
      .p-galleria .p-galleria-thumbnail-container {
        background: rgb(246, 246, 246);
        padding: 0.5rem 0;
        button{
          display: none;
        }
      }
      .p-galleria-thumbnail-container{
        img{
          @include size(100%, 60px);
          border: 1px solid $middleGray;
          padding: 5px;
        }
      }
    }
    &-content{
      width: 100%;
      min-height: 470px;
      h2{
        @include text(#000, 24, 400);
      }
      p{
        @include text($middleBrown, 18, 400);
        text-align: right;
      }
      h3{
        @include text($darkGray, 18, 400);
        font-size: 18px;
        font-weight: normal;
      }
      .specs{
        height: 140px;
        &-customize{
          border: 1px solid $middleGray;
          border-radius: 10px;
          background: none;
          color: #000;
          position: relative;
          padding: 10px 30px;
          cursor: pointer;
          &:hover{
            border: 1px solid #dbc6ac;
            color: #dbc6ac;
          }
        }
        input[type="checkbox"]{
          @include size(10px, 10px);
          @include position(0, null, null, 0);
          z-index: -1;
          &:checked ~ label{
            background: #e3d5c4;
            color: #000;
          }
        }
      }
      .specs_exception{
        min-height: 240px;
        margin-top: 10px;
        .field-checkbox{
          @include flexBox(row, center, flex-start);
          margin-left: 10px;
          flex-wrap: wrap;
          &-item{
            @include flexBox(row, center, flex-start);
            margin: 0 0 20px 0;
            width: 150px;
            label{
              white-space:nowrap;
            }
          }
          input[type=checkbox],input[type=number]{
            width: 15px;
            margin: 0 5px 0 10px;
            height: 15px;
            background: #f6f6f6;
            border: 0;
            border-bottom: 1px solid $middleGray;
            text-align: center;
          }
          input[type=number]{
            width: 30px;
            height: 20px;
            pointer-events: none;
            &::placeholder{
              color:rgb(212, 212, 212);
              font-size: 10px;
            }
          }
          input[type=checkbox]{
            &:checked ~ label{
              color: #000;
            }
            &:checked ~ input[type=number]{
              border-bottom: 1px solid #000;
              pointer-events: all;
            }
          }
        }
      }
      &__count{
        @include size(100%, 40px);
        border: 1px solid rgb(219, 216, 216);
        background: $lightGray;
        margin: 10px 0 10px 0;
        @include flexBox(row, center, space-between);
        i{
          margin: 0 10px;
          cursor: pointer;
        }
        input{
          @include size(30px,38px);
          border: none;
          text-align: center;
          &:focus{
            box-shadow: none;
          }
        }
      }
      .like, .like_finish{
        @include flexBox(row, center, flex-start);
        border: 1px solid $middleGray;
        width: 200px;
        padding: 5px 7px;
        border-radius: 50px;
        background: #fff;
        cursor: pointer;
        &_finish{
          i{
            color: 	#ee7272;
          }
        }
      }
    }
    .button_buy{
      @include flexBox(row, center, space-between);
      margin-bottom: 30px;
      button{
        width: 49%;
        font-size: 18px;
        padding: 8px 0;
      }
      &.media{
        bottom: 0;
        left: 0;
        display: none;
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 99;
        margin: auto;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        button{
          width: 48%;
          margin: 5px;
        }
      }
    }
  }
  .goods-data{
    margin-bottom: 50px;
    h2{
      @include text(#000,25,normal);
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .goods-about{
    .carousel{
      margin: 0 auto 50px auto;
      .p-carousel-indicators{
        display: none; 
      }
      .p-carousel-container{
        height: 300px;
        .p-carousel-items-content{
          @include flexBox(row, center, space-between);
          padding-left: 20px;
        }
      }
      .goods-item {
        width: 90%;
        cursor: pointer;
        .goods-item-content {
          text-align: center;
          padding-bottom: 15px;
          img{
            width: 100%;
          }
          h4{
            @include text($darkGray, 14, 400);
            margin-top: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          h6{
            @include text($darkBrown, 14, 600);
          }
        }
      }
    }
  }
  /*common element*/
  .color-block{
    @include size(80px,5px);
    background: #A67F77;
    margin-top: 10px;
  }
  .wire{
    @include size(100%,2px);
    background: $middleGray;
    position: relative;
    margin-bottom: 30px;
  }
}

@media(max-width: 960px){
  .detail{
    .goods-choose{
      .goods-choose-above{
        @include flexBox(column, center, center);
        .galleria{
          width: 420px;
          margin-bottom: 20px;
          .p-galleria-item{
            img{
              width: 90%;
            }
          }
        } 
      }
      .button_buy{
        display: none;
        &.media{
          display: flex;
        }
      }
      &-content{
        width: 90%;
        min-height: 420px;
        .specs_exception{
          min-height: 150px;
          .field-checkbox{
            margin-left: 15px;
            &-item{
              width: 130px;
            }
          }
        }
      }
    }
    .goods-data{
      width: 95%;
      margin: 0 auto 50px auto;
      h1{
        margin-bottom: 0;
      }
    }
    .goods-about{
      width: 95%;
      margin: 0 auto;
      h1{
        margin-bottom: 0;
      }
    }
  }
}
@media(max-width: 750px){
  .detail{
    .goods-choose{
      .goods-choose-above{
        .galleria{
          @include size(320px, 400px);
          margin-bottom: 20px;
          .p-galleria-item{
            img{
              width: 95%;
            }
          }
          .p-galleria-item-wrapper{
            height: 330px;
          }
          .p-galleria-thumbnail-wrapper{
            width: 220px;
            padding-left: 0;
          }
        }
      }
      &-content{
        width: 100%;
        h2{
          font-size: 18px;
        }
        p{
          font-size: 16px;
        }
      }
    }
    .goods-data{
      h1, h2{
        font-size: 18px;
      }
    }
  }
}
@media(max-width: 500px){
  .detail{
    .goods-about{
      .carousel{
        .goods-item {
          margin: 0 auto;
          width: 70%;
        }
        .p-carousel-container{
          .p-carousel-items-content{
            padding-left: 0;
          }
        }
      }
    }
  }
}