.header {
	width: 100%;
	position: sticky;
	top:0;
	background: rgb(246, 246, 246);
	z-index: 100;
	.sideTop{
		padding: 20px 0;
		width: 100%;
		@include flexBox(column, center, center);
		h3{
			@include text(#000, 20, 100);
			font-family: 'Apple Chancery';
			margin: auto;
			cursor: pointer;
		}
		.logo{
			@include size(70px, 70px);
				background-image: url('../assets/home/logo.png');
				background-repeat: no-repeat;
				background-size: contain;
				margin: auto auto 5px auto;
				cursor: pointer;
		}
		.icon{
			@include position(80px, 10px, '', '');
			width: 130px;
			.pi.pi-shopping-cart, .pi-user, .pi-search{
				font-size: 2rem;
				color: rgb(88, 88, 88);
				padding: 3px;
				font-weight:lighter;
			}
			.pi-user{
				font-size: 1.6rem;
				margin-right: 5px;
				border-radius: 100%;
				border: 2px solid rgb(88, 88, 88);
			}
			.pi-search{
				font-size: 1.6rem;
				margin-left: 8px;
				display: none;
			}
			&_cart{
				position: relative;
			}
			&_cart:focus-within .float-block{
				display: block;
			}
			.cart_count{
				@include size(20px, 20px);
				@include flexBox(row, center, center);
				@include position(0,-5px,'','');
				color: #fff;
				background: #d3b799;
				border-radius: 100%;
				text-align: center;
				font-size: 10px;
				font-weight: 500;
			}
			input[type="checkbox"]{
				@include size(1px,1px);
				@include position(10%,30%,'','');
			}
			.float-block_member{
				@include size(150px, 120px);
				@include flexBox(column, center, center);
				@include position(55px, 10px, '', '');
				background: #fff;
				z-index: 99999;
				border: 2px solid $middleGray;
				display: none;
				cursor: auto;
				button{
					width: 80%;
					border: 1px solid $lightGray;
					margin-top: 10px;
					border-radius: 5px;
					padding: 5px 0;
					background: #e4d8c7;
					cursor: pointer;
					&:hover{
						color: white;
            background: #C3996D;
					}
				}
			}
			#checkboxicon{
				&:checked ~ label{
					.float-block_member{
						display: block;
						@include flexBox(column, center, center);
					}
				}
			}
		}
		.float-block{
			@include position(55px,-35px, '', '');
			width: 350px;
			min-height: 80px;
			max-height: 400px;
			overflow: scroll;
			background: $lightGray;
			border: 2px solid $middleGray;
			z-index: 9999;
			display: none;
			cursor: auto;
			h3{
				font-weight: normal;
				text-align: center;
				margin-top: 15px;
			}
			&_item{
				@include flexBox(row, center, space-between);
				width: 85%;
				margin: 0 auto 0 auto;
				min-height: 80px;
				img{
					width: 18%;
				}
				&__text{
					@include flexBox(column,flex-start,flex-start);
					h2{
						@include text(#403f3f, 16, 500);
						margin-bottom: 5px;
					}
					p{
						@include text($darkGray, 14, 400);
						cursor: auto;
					}
					span{
						@include text(#696767, 12, 400);
						margin-bottom: 8px;
					}
				}
			}
			.cart-check{
				@include flexBox(column, center, center);
				position: sticky;
				margin-top: 15px;
				bottom: 0;
				z-index: 9999;
				background: $lightGray;
			}
			.button_submit{
				@include size(80%, 30px);
				margin: 10px 0;
			}
			&::after{
				content: "";
				@include triangle(0,5px,12px,5px,transparent transparent $lightGray transparent);
				@include position(-12px,45.37%,'','');
				transform: translate(-45.5%, 0);
			}
			&::before{
				content: "";
				@include triangle(0,8px,16px,8px,transparent transparent $middleGray transparent);
				@include position(-16px,160.4px,'','');
				transform: translate(-45.5%, 0);
			}
		}
		.media_menu{
			display: none;
		}
		.float-block_search{
			@include flexBox(row, center,space-evenly);
			@include position(46px,0,'','');
			@include size(100vw, 55px);
			background: #fff;
			display: none;
			border-bottom: 1px solid $darkGray;
			input{
				width: 90vw;
			}
			.button_submit{
				width: 5%;
				min-width: 43px;
				height: 65%;
				font-size: 14px;
				border-radius: 5px;
			}
		}
		#checkboxSearch{
			&:checked ~ label{
				.float-block_search{
					display: flex;
				}
			}
		}
		#checkboxMenu{
			display: none;
		}
		.side-menu-bg{
			@include size(100vw, 100vh);
			@include position(0,0,0,0);
			background: #000;
			z-index: 99999;
			opacity: 0.3;
			display: none;
		}
		.side-menu{
			@include size(280px, 100vh);
			@include position(0,0,0,0);
			overflow: scroll;
			background: $lightGray;
			z-index: 999999999;
			transform: translateX(-400%);
			transition: 1s;
			.logo{
				@include flexBox(row, center, flex-start);
				background: none;
				height: 60px;
				padding-left: 10px;
				p{
					margin: 0 10px;
					width: 75%;
				}
				img{
					width: 10%;
				}
			}
			div{
				width: 100%;
				line-height: 3;
				background: #E8D7C5;
				padding-left: 20px;
				border-bottom: 1px solid $darkGray;
				color: rgb(68, 66, 66);
				cursor: pointer;
			}
			.exception{
				cursor: default;
			}
			ul{
				width: 100%;
				line-height: 3;

				li{
					border-bottom: 1px solid $darkGray;
					padding-left: 30px;
					cursor: pointer;
					&:hover{
						color: #000;
					}
				}
			}
		}
  }
	.p-menubar .p-menubar-root-list>.p-menuitem > .p-menuitem-link:not(.p-disabled):hover{
		background: none;
		color: #fff;
		&:hover{
			color: $darkGray;
		}
	}
	.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus{
		box-shadow: none;
	}
	.menu{
		border-top: 1px solid #808080;
		border-bottom: 1px solid #808080;
		width: 100%;
		box-shadow: 0px 0px 3px  #808080;
		div{
			max-width: 1100px;
			position: relative;
			margin: auto;
			padding: 0;
			height: 50px;
			.p-menubar-root-list{
				height: 100%;
				.p-menuitem{
					@include size(150px, 100%);
					cursor: pointer;
					position: relative;
					padding-right: 20px;
					.p-menuitem-icon{
						display: none;
					}
					a{
						display: block;
						text-align: center;
						height: 100%;
						line-height: 1.5;
					}
					.p-submenu-list{
						padding: 0;
						width: 130px;
						.p-menuitem{
							a{
								width: 130px;
								display: block;
								padding: 15px 0;
								text-align: center;
							}
							&:hover{
								&::after{
									content: "";
									display: none;
								}
							}
						}
					}
					.p-submenu-icon{
						display: none;
					}
					
					&:hover{
						&::after{
							content: "";
							@include triangle(0,5px,12px,5px,transparent transparent #4D4D4D transparent);
							@include position('','',0,45%);
							transform: translate(-50%, 0);
						}
					}
				}
			}
			.p-menubar-end{
				@include flexBox(row, center, center);
				input{
					@include size(200px,30px);
					display: block;
					border: 1px solid #E3E3E3;
					border-radius: 50px;
					padding-left: 20px;
				}
				img{
					@include size(20px,20px);
					@include position(15px, '', '', 165px);
					cursor: pointer;
				}
			}
		}  
  }
}
@media(max-width: 960px) {
	.header{
		.sideTop{
			@include flexBox(row, center, flex-start);
			padding: 15px 15px;
			border-bottom: 1px solid #000;
			box-shadow: 0px 0px 3px  #808080;
			position: relative;
			input[type="checkbox"]{
				@include size(1px,1px);
				@include position('','','','');
			}
			input[type="checkbox"]{
				&:checked ~ label{
					.side-menu-bg{
						display: block;
					}
					.side-menu{
						transform: translateX(0);
					}
				}
			}
			.logo{
				@include size(30px, 30px);
					margin: 0 10px 0 0;
			}
			h3{
				margin: 0;
				font-size: 14px;
			}
			.icon{
				@include position(15px, 0px, '', '');
				.pi.pi-shopping-cart, .pi-user{
					font-size: 1.7rem;
				}
				.pi-user{
					font-size: 1.3rem;
				}
				.cart_count{
					@include size(17px, 17px);
				}
				.pi-search{
					display: block;
				}
				.float-block_member{
					@include size(150px, 120px);
					@include flexBox(column, center, center);
					@include position(46px, 30px, '', '');
					display: none;
				}
			}
			.media_menu{
				display: block;
				@include size(18px, 16px);
				border-top: 2px solid $darkGray;
				border-bottom: 2px solid $darkGray;
				position: relative;
				&::after{
					content: '';
					@include size(18px, 2px);
					background: $darkGray;
					@include position(5px,'','','')
				}
				&:hover{
					border-color: #c09973;
					cursor: pointer;
					&::after{
						background: #c09973;
					}
				}
			}
			.float-block{
				@include position(46px, -50px, '', '');
				width: 300px;
			}
		}
		.menu{
			display: none;
		}
	}
}
@media(max-width: 600px) {
	.header{
		.sideTop{
			.float-block_search{
				input{
					width: 80%;
				}
			}
		}
	}
}