.content{
  width: 100%;
  .homePhoto{
    position: relative;
    img{
      margin: auto;
      max-width: 100%;
    }
    ul{
      width: 115px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
      li{
        width: 18px;
        height: 18px;
        border-radius: 10%;
        background: $middleGray;
        margin: 30px 10px;
      }
    }
    
  }
  .cake_item{
    li{
      @include flexBox(column, center, center);
      border: 1px solid #C9C9C9;
      width: 220px;
      height: 320px;
      img{
        width: 100%;
      }
      div{
        @include flexBox(column, center, center);
        padding: 25px 0;
        p{
          line-height: 1.5;
        }
      }
    }
  }
  .page{
    @include flexBox(row, center, center);
    li{
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: $middleGray;
      margin: 30px 10px;
    }
  }
  .brand{
    @include flexBox(row, flex-end, space-between);
    li{
      @include flexBox(column, center, center);
      max-width: 110px;
      p{
        line-height: 2;
      }
    }
  }
  .cakeType{
    @include flexBox(row, flex-start,space-between);
    max-width: 800px;
    margin: auto;
    .item{
      position: relative;
      p{
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 18px;
      }
      span{
        color: #fff;
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translate(-50%,-50%);
      }
      img{
        width: 220px;
      }
    }
  }
}