.content{
  width: 100%;
  .card{
    max-width: 1000px;
    margin: 0 auto 100px auto;
    p{
      &::after{
        content:"";
        width: 40px;
        height: 4px;
        background: #C3996D;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::before{
        content:"";
        width: 150px;
        height: 2px;
        background: #C9C9C9;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .product-item {
      .product-item-content {
        border: 1px solid var(--surface-border);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 1rem 0;
        img{
	        margin: auto;
        }
      }
      .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
      }
    }
  }
  .homePhoto{
    position: relative;
    width: 100%;
    overflow: hidden;
    div{
      img{
        width: 100%;
      }
    }
    .prev, .next{
      width: 40px;
      height: 40px;
      background: #333333;
      border-radius: 10%;
      position: absolute;
      opacity: .8;
      top:50%;
      cursor: pointer;
    }
    .prev{
      left: 3%;
      &::after{
        content:"";
        @include position(50%,0,0,50%);
        @include triangle(10px,15px,10px,0,transparent #000 transparent transparent);
        transform: translate(-65%, -50%);
      }
    }
    .next{
      right: 3%;
      &::after{
        content:"";
        @include position(50%,0,0,60%);
        @include triangle(10px,0,10px,15px,transparent transparent transparent #000 );
        transform: translate(-55%, -50%);
      }
    }
    .carousel{
      position: absolute;
      top: 0;
      margin: auto;
    }
    .currentPage{
      background: #754C24;
    }
    ul{
      width: 115px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
      li{
        width: 18px;
        height: 18px;
        border-radius: 10%;
        background: $middleGray;
        margin: 30px 10px;
        cursor: pointer;
      }
    }
    .right-in-enter-from, .left-in-leave-to{
      transform: translateX(100%);
    }
    .right-in-enter-active, .right-in-leave-active,.left-in-enter-active, .left-in-leave-active{
      transition: transform .5s ;
    }
    .right-in-leave-to,.left-in-enter-from{
      transform: translateX(-100%);
    }

  }
  .cake_item{
    .itemTab{
      position: relative;
      &::after{
        content:'';
        width: 60px;
        height: 25px;
        background: rgba(225,43,18,.5);
        position: absolute;
        border-radius: 10%;
        top: 5px;
        left: 5px;
        z-index: 2;
      }
      &::before{
        content: 'NEW';
        color: #000;
        position: absolute;
        top: 9px;
        left: 18px;
        z-index: 5;
      }
    }
    li{
      @include flexBox(column, center, center);
      border: 1px solid #C9C9C9;
      width: 220px;
      height: 320px;
      img{
        width: 100%;
      }
      div{
        @include flexBox(column, center, center);
        padding: 25px 0;
        p{
          line-height: 1.5;
        }
      }
    }
  }
  .page{
    @include flexBox(row, center, center);
    li{
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: $middleGray;
      margin: 30px 10px;
    }
  }
  .brand{
   padding: 100px 0;
    @include flexBox(row, flex-end, space-between);
    li{
      @include flexBox(column, center, center);
      width: 110px;
      cursor: pointer;
      p{
        line-height: 2;
      }
    }
  }
  .cakeType{
    @include flexBox(row, flex-start,space-between);
    max-width: 800px;
    margin: 0 auto 100px auto;
    .item{
      position: relative;
      cursor: pointer;
      &:before, &:after{
        content: "";
        position: absolute;
        width: 170px;
        height: 290px;
        top: 21px;
        left: 25px;
        border-style: solid;
        border-color: #fff;
        transition: transform .5s ease;
      }
      &:after{
        border-width: 1px 0 1px 0;
        transform:  scaleX(0);
      }
      &:before{
        border-width: 0 1px 0 1px;
        transform:  scaleY(0);
      }
      &:hover{
        &:after, &:before{
          transform:  scale(1,1);
        }
      }
      p{
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 18px;
      }
      span{
        color: #fff;
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translate(-50%,-50%);
      }
      img{
        width: 220px;
      }
    }
  }
}