html, body {
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
  .home {
      @include flexBox(column, flex-start, flex-start);
      width: 100%;
      background: rgb(246, 246, 246);
      font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'Hei', sans-serif;
      color: $darkGray;
      img{
        display: block;
      }
      .container{
      	max-width: 1000px;
        margin: auto;
      }
      .p-breadcrumb{
        background: none;
        border: none;
      }
      .p-menubar{
        background: none;
        border: none;
      }
      ::-webkit-scrollbar{
        display: none;
      }
      .horizon{
        border-top: 1px solid $middleGray;
      }
      h1{
        color: #754C24;
        font-size: 24px;
        font-weight: 500;
      }
      i{
        cursor: pointer;
      }
      .button_submit{
        opacity: 0.8;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        &.confirm{
          background: #DACDBC;
          color: #000;
          &:hover{
            color: white;
            background: #C3996D;
          }
        }
        &.cancel{
          background: rgb(246, 240, 240);
          color: $darkGray;
          &:hover{
            color: $darkGray;
            background: #d5d4d2;
          }
        }
        &.normal{
          background: #c69e98;
          color: #000;
          &:hover{
            color: #fff;
            background: #ac8079;
          }
        }
      }
      .guide{
        border-bottom: 2px solid $middleGray;
        padding-bottom: 0;
        width: 100%;
        nav{
          ul{
            li{
              margin-bottom: 0;
            }
            span{
              margin-left: 0;
            }
          }
        }
      }
  }
}

