html, body {
    height: 100%;
}

#app {
    position: relative;
    height: 100%;
    .home {
        @include flexBox(column, flex-start, flex-start);
        width: 100%;
        background: #EFEFEF;
        font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'Hei', sans-serif;
        color: #808080;
        padding-top: 30px;
        img{
            display: block;
        }
        .container{
            max-width: 1000px;
            margin: auto;
        }
        .mb_1{
            margin-bottom: 9px;
        }
        .mb_5{
            margin-bottom: 45px;
        }
        .mb_7{
            margin-bottom: 63px;
        }
        .mb_9{
            margin-bottom: 81px;
        }
    }
}
