html, body {
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
  .home {
      @include flexBox(column, flex-start, flex-start);
      width: 100%;
      background: #EFEFEF;
      font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'Hei', sans-serif;
      color: $darkGray;
      padding-top: 20px;
      img{
        display: block;
      }
      .container{
      	max-width: 1000px;
        margin: auto;
      }
      .p-breadcrumb{
        background: none;
        border: none;
      }
      .p-menubar{
        background: none;
        border: none;
      }
  }
}

@mixin textIndent($ti,$ml){
  text-indent: $ti +px;
  margin-left: $ml +px;
}

@mixin title-h2{
  color: #754C24;
  font-size: 20px;
}

@mixin triangle($top,$right,$bottom,$left,$color){
  border-style: solid;
  border-width: $top $right $bottom $left;
  border-color: $color;
}
@mixin position($top,$right,$bottom,$left){
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
@mixin size($weight, $height){
  width: $weight;
  height: $height;
}