.navigator {
    width: 100%;
    box-sizing: border-box;
    .header{
        margin: 35px auto;
        p{
            font-size: 22px;
            font-family: 'Apple Chancery';
            margin: auto;
        }
        .logo{
            width: 100%;
            img{
                margin: auto;
                margin-bottom: 5px;
            }
        }
        .icon{
            width: 150px;
            position: absolute;
            right: 0;
            top: 57px;
            img{
                display: block;
                margin-right: 15px;
            }
        }
    }
    .menu{
        border-top: 1px solid #808080;
        border-bottom: 1px solid #808080;
        width: 100%;
    }
    ul{
        margin: auto;
        li{
            padding: 20px 20px;
            cursor: pointer;
            position: relative;
            &:hover{
                color:#4D4D4D;
                &::after{
                    content: "";
                    position: absolute;
                    border-style:solid;
                    border-width: 0 5px 12px 5px;
                    border-color: transparent transparent #4D4D4D transparent;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
    
}