.private{
  line-height: 1.5;
  div{
    h2{
      color: #754C24;
      font-size: 20px;
    }
    li{
      margin-bottom: 15px;
      p{
        font-size: 18px;
        color: #000;
        font-weight: 600;
        
      }
    }
    .service{
      text-indent: -17px;
      margin-left: 17px;
    }
  }
}