.private{
  line-height: 1.5;
  padding-right: 10px;
  div{
    padding: 0 10px;
    li{
      margin-bottom: 15px;
      p{
        @include text(#000, 16, 600);
      }
    }
    .service{
      @include textIndent(-17,17);
    }
  }
}