.QA{
  line-height: 1.5;
  div{
    span{
      color: $darkGray;
      margin-left: 20px;
    }
    li{
      margin-bottom: 10px;
      p{
        @include text(#000, 16,600);
      }
      span{
        display: block;
        color: $darkGray;
      }
    }
  }
}

@media(max-width: 800px) {
  .QA{
    ul{
      padding: 0 20px 0 5px;
    }
  }
}
@media(max-width: 607px) {
  .QA{
    p{
      @include textIndent(-20, 20);
    }
    .service{
      li{
        @include textIndent(-20, 20);
      }
    }
  }
}