.QA{
  line-height: 1.5;
  div{
    span{
      color: $darkGray;
      margin-left: 20px;
    }
    li{
      margin-bottom: 10px;
      p{
        @include text(#000, 16,600);
      }
      span{
        display: block;
        color: $darkGray;
      }
    }
  }
}