.QA{
  line-height: 1.5;
  div{
    span{
      color: $darkGray;
      margin-left: 20px;
    }
    h2{
      @include textH2;
    }
    li{
      margin-bottom: 10px;
      p{
        font-weight: 600;
        color: #000;
      }
      span{
        display: block;
        color: $darkGray;
      }
    }
  }
}