.return{
  line-height: 1.5;
  div{
    h2{
      color: #754C24;
      font-size: 20px;
    }
    .return-list{
      margin-bottom: 2rem;
      li{
        @include textIndent(-20, 20);
        margin-bottom: 10px;
      }
    }
    
  }
}