.return{
  line-height: 1.5;
  padding-right: 10px;
  div{
    padding: 0 10px;
    .return-list{
      margin-bottom: 2rem;
      li{
        @include textIndent(-20, 20);
        margin-bottom: 10px;
      }
    }
  }
}