.user{
  width: 100%;
  line-height: 1.5;
  .user-page{
    width: 100%;
    background: #fff;
    padding: 100px;
    margin-bottom: 100px;
  }
}
.login{
  width: 70%;
  margin: auto;
  border: 1px solid $darkGray;
  .login-button{
    @include flexBox(row, flex-start, flex-start);
    width: 100%;
    cursor: pointer;
    p, span{
      width: 50%;
      font-size: 22px;
      text-align: center;
      padding: 20px 0;
    }
    p{
      border-right: 1px solid $darkGray;
      border-bottom: 1px solid $darkGray;
      background: $lightGray;
    }
  }
  .login-data{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    p{
      font-size: 18px;
      margin: 15px 0 5px 0;
    }
    input{
      width: 100%;
    }
    .otp{
      @include flexBox(row, stretch, flex-start);
      margin-top: 10px;
      input{
        width: 40%;
      }
      span{
        background: #dcdcdc;
        opacity: 0.9;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px 16px;
        margin-left: 5px;
        letter-spacing: 0.1rem;
      }
    }
   .smbit{
      width: 100%;
      @include flexBox(column, flex-start, center);
      margin-top: 30px;
      button{
        width: 80%;
        margin: 0 auto 5px auto;
      }
      .field-checkbox{
        width: 80%;
        margin: auto;
      }
      p{
        @include text($middleGray,16,400);
        width: 100%;
        text-align: center;
      }
    }
  }
}
.register{
  width: 70%;
  margin: auto;
  border: 1px solid $darkGray;
  .register-button{
    @include flexBox(row, flex-start, flex-start);
    width: 100%;
    cursor: pointer;
    p, span{
      width: 50%;
      font-size: 22px;
      text-align: center;
      padding: 20px 0;
    }
    span{
      border-left: 1px solid $darkGray;
      border-bottom: 1px solid $darkGray;
      background: $lightGray;
    }
  }
  .register-data{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    .p-calendar .p-component .p-inputwrapper{
      width: 200px;
    }
    div{
      margin-bottom: 10px;
    }
    p{
      font-size: 18px;
    }
    span{
      color: red;
      font-size: 12px;
      input{
        width: 500px;
      }
    }
    input{
      width: 100%;
    }
  }
}
.button_submit{
  @include size(300px, 40px);
  margin: 10px 0;
}