.user{
  width: 100%;
  line-height: 1.5;
  padding: 0 20px;
  .user-page{
    width: 100%;
    padding: 50px;
    margin-bottom: 100px;
  }
}
.login, .register{
  width: 70%;
  margin: auto;
  border: 1px solid $darkGray;
  background: #fff;
  .login-button, .register-button{
    @include flexBox(row, flex-start, flex-start);
    width: 100%;
    cursor: pointer;
    p, span{
      width: 50%;
      font-size: 22px;
      text-align: center;
      padding: 20px 0;
    }
  }
}
.login{
  .login-button{
    p{
      border-left: 1px solid $darkGray;
      border-bottom: 1px solid $darkGray;
      background: #eeebeb;
    }
  }
  .login-data{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    p{
      font-size: 18px;
      margin: 15px 0 5px 0;
    }
    .otp{
      @include flexBox(row, stretch, flex-start);
      margin-top: 10px;
      input{
        width: 40%;
      }
      span{
        background: #dcdcdc;
        opacity: 0.9;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px 16px;
        margin-left: 5px;
        letter-spacing: 0.1rem;
      }
    }
   .submit{
    @include flexBox(row, center,center);
      width: 100%;
      margin-top: 30px;
      button{
        width: 80%;
        font-size: 16px;
        cursor: pointer;
      }
      p{
        @include text($middleGray,16,400);
        text-align: center;
      }
    }
  }
}
.register{
  .register-button{
    span{
      border-right: 1px solid $darkGray;
      border-bottom: 1px solid $darkGray;
      background: #eeebeb;
    }
  }
  .register-data{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    .p-calendar .p-component .p-inputwrapper{
      width: 200px;
    }
    div{
      margin-bottom: 10px;
    }
    p{
      font-size: 16px;
    }
    span{
      @include text(red, 12, normal);
      input{
        width: 500px;
      }
    }
    ::placeholder { 
      color: #bcbbbb
    }
    button{
      margin-top: 30px;
      width: 80%;
      font-size: 16px;
    }
  }
}
@media(max-width: 800px) {
  .login, .register{
    width: 100%;
  }
}
@media(max-width: 607px) {
  .login, .register{
    .login-button, .register-button{
      p, span{
        font-size: 18px;
        padding: 10px 0;
      }
    }
  }
  .user{
    .user-page{
      width: 100%;
      margin: 0 auto 100px auto;
      padding: 0;
    }
  }
}