$lightGray: #fdfdfd ;
$middleGray:#C9C9C9;
$darkGray: #808080;
$common:#A67F78;

$icon_img: 'icon-brand', 'icon-delivery', 'icon-return', 'icon-private';

@each $currentIconImg in $icon_img{
  .#{$currentIconImg}{
    background-image: url('../assets/home/#{$currentIconImg}.png');
    background-size: contain; 
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
  }
  .icon-delivery{
    width: 120px;
    height:80px;
  }
  .icon-private{
    width: 75px;
    height:100px;
    font-weight: normal;
  }
}
