$lightGray: #fdfdfd ;
$middleGray:#C9C9C9;
$darkGray: #808080;
$lightBrown:#dbc6ac;
$middleBrown:#A67F78;
$darkBrown:#754C24;

@mixin textIndent($ti,$ml){
  text-indent: $ti +px;
  margin-left: $ml +px;
}

@mixin text($color, $fontSize, $fontWeight){
  color: $color;
  font-size: $fontSize +px;
  font-weight: $fontWeight;
}

@mixin triangle($top,$right,$bottom,$left,$color){
  border-style: solid;
  border-width: $top $right $bottom $left;
  border-color: $color;
}
@mixin position($top,$right,$bottom,$left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin size($weight, $height){
  width: $weight;
  height: $height;
}

$icon_img: 'icon-brand', 'icon-delivery', 'icon-return', 'icon-private';

@each $currentIconImg in $icon_img{
  .#{$currentIconImg}{
    @include size(100px, 100px);
    background-image: url('../assets/home/#{$currentIconImg}.png');
    background-size: contain; 
    background-repeat: no-repeat;
  }
  .icon-delivery{
    @include size(120px, 80px);
  }
  .icon-private{
    @include size(75px, 100px);
    font-weight: normal;
  }
}